<% flash.each do |message_type, message| %>
　　<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
    
    
    
    
 Welcome! You have signed up successfully.
 Signed out successfully.
 Signed in successfully.
 You have updated user successfully.
 You have created book successfully.
 You have updated book successfully.